/*CSS RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Entire Page*/

.sidebardecor {
  position: absolute;
  width: 40px;
  height: 2079px;
  left: 46px;
  top: 0px;
  background: #ffffff;
}
.background {
  background-color: #0a0919;
}

/* Nav*/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  margin: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: white;
  border-width: 25%;
}
.logo {
  display: flex;
  flex-direction: row;
}
.nav img {
  width: 35px;
  height: auto;
  margin-left: 15px;
}
.heroMain {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 100px;
  color: white;
  margin-left: 100px;
  margin-top: 150px;
}
.heroMain h2 {
  font-weight: 500;
  margin-top: 20px;
}
.heroImg {
  width: auto;
  margin-left: 375px;
}
.horizontalbar1 {
  position: absolute;
  width: 341px;
  height: 0px;
  left: 146px;
  top: 160px;
  border: 2px solid #ff6584;
}

.horizontalbar2 {
  position: absolute;
  width: 341px;
  height: 0px;
  left: 182px;
  top: 172px;
  border: 2px solid #ff6584;
}

.horizontalbar3 {
  border: 2px solid #ff6584;
  position: absolute;
  width: 341px;
  height: 0px;
  left: 218px;
  top: 184px;
}

.links,
a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  color: #ffffff;
  text-decoration: none;
}

.verticalbar {
  border-right: 4px solid #ff6584;
  padding-right: 30px;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-left: 247px;
  margin-top: 100px;
  margin-bottom: 103px;
}

.hero h1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 70px;
  color: white;
  margin-bottom: 17px;
}

.hero p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}
button {
  background: #6c63ff;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  width: 166px;
  height: 43px;
  border: none;
}
/*#purpleCircle{
    position: absolute;
    width: 355px;
    height: 355px;
    left: 156px;
    top: 195px;
    border-radius: 50%;
    background: rgba(108, 99, 255, 0.35);
}*/

/* Row 1 of team*/
.rowpics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 50px;
}
.rowpics img {
  width: 240px;
  height: 240px;
  border-radius: 10px;
}

.names {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer img {
  width: 91px;
  height: 79px;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  color: #0a0919;
  text-align: center;
  margin-top: 200px;
}

#happy {
  background-color: white;
  margin-right: 30px;
}

i {
  margin-left: 0px;
  margin-right: 10px;
}
.glow {
  color: #fff;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.button {
  background: #6c63ff;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  width: 166px;
  height: 43px;
  border: none;
  margin-top: 50px;
}
.button:hover {
  background-color: #ff6584;
  color: white;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Raleway;
  padding: 50px;
  color: #0a0919;
  font-size: 30px;
  text-align: left;
  margin-top: 100px;
}
.para1 {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 24px;
  padding: 10px;
}
.para2 {
  margin-left: 25px;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
}
.whitebox {
  background-color: #f8f8ff;
  width: 303px;
  height: 257px;
  border-radius: 10px;
}
.number {
  color: #6c63ff;
  margin-left: 35px;
  margin-top: 30px;
  font-size: 32px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff6584,
      0 0 40px #ff6584, 0 0 50px #ff6584, 0 0 60px #ff6584, 0 0 70px #ff6584;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff6584, 0 0 40px #ff4da6,
      0 0 50px #ff6584, 0 0 60px #ff6584, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.detailsH2 {
  display: flex;
  flex-direction: row;
  font-family: Raleway;
  font-size: 70px;
  color: white;
  margin-left: 50px;
  padding-top: 5%;
}
.bottom {
  background-color: black;
}
.bottom img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

@media (max-width: 500px) {
  .background {
    background-color: white;
  }

  .mobileName {
    color: #6c63ff;
  }

  .horizontalbar1 {
    width: 341px;
    height: 0px;
    left: 20px;
    top: 100px;
  }

  .horizontalbar2 {
    position: absolute;
    width: 341px;
    height: 0px;
    left: 56px;
    top: 112px;
  }

  .horizontalbar3 {
    position: absolute;
    width: 341px;
    height: 0px;
    left: 92px;
    top: 124px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #0f0e26;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 20px;
  }

  .links,
  a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    color: #0f0e26;
    text-decoration: none;
  }

  #mobileA {
    display: none;
  }

  .heroMain {
    color: black;
  }
  .heroMain img {
    display: flex;
    flex-direction: column;
  }

  .hero {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .hero h1 {
    line-height: 70px;
    font-size: 60px;
    color: #0f0e26;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .hero p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #0f0e26;
  }

  .sidebardecor {
    display: none;
  }

  .rowpics {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .rowpics img {
    width: 100%;
    height: 500px;
    border-radius: 0;
    margin: 0px;
  }

  .names {
    position: absolute;
    color: #0f0e26;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
  }

  #fakepic {
    display: none;
  }

  .footer {
    background-color: #0f0e26;
    color: white;
    font-size: 18px;
    margin-top: 75px;
  }
  .footerhome {
    margin-top: 0px;
    background-color: #0f0e26;
  }
  .footer img {
    background-color: #0f0e26;
  }

  #happy {
    background-color: #0f0e26;
  }
  .heroImg {
    display: flex;
    justify-content: center;
  }
  .heroMain {
    margin-left: 20px;
  }
  .nameMobile {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 10px;
    font-family: Raleway;
    font-weight: 700;
  }
  .name1 {
    top: 70px;
  }
  .name2 {
    top: 400px;
  }
  .name3 {
    top: 70px;
  }
  .name4 {
    top: 350px;
  }

  .name5 {
    top: 70px;
  }
  .name6 {
    top: 400px;
  }
  .name7 {
    top: 70px;
  }
  .name8 {
    top: 70px;
  }
  .name9 {
    top: 400px;
  }
  .name10 {
    top: 400px;
  }
  .name11 {
    top: 400px;
  }
  .track {
    position: absolute;
    color: #ff6584;
    margin-left: 10px;
    left: 10px;
    font-size: 21px;
  }
  .track1 {
    top: 110px;
  }
  .track2 {
    top: 440px;
  }
  .track3 {
    top: 110px;
  }
  .track4 {
    top: 390px;
  }
  .track5 {
    top: 110px;
  }
  .track6 {
    top: 440px;
  }
  .track7 {
    top: 110px;
  }
  .track8 {
    top: 110px;
  }
  .track9 {
    top: 440px;
  }
  .track10 {
    top: 440px;
  }
  .track11 {
    top: 440px;
  }
  svg {
    display: none;
  }
  .picPosition {
    position: relative;
  }
  .heroImg {
    margin-top: 75px;
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
  .button {
    margin-left: 10px;
  }
  .details {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 34px;
    font-family: Raleway;
    padding: 30px;
    align-items: center;
  }
  .detailsH2 {
    display: flex;
    background-color: black;
    color: white;
    margin-left: 40px;
    margin-top: 0px;
  }

  .details {
    display: flex;
    font-size: 26px;
    text-align: left;
  }
  .para1 {
    font-size: 24px;
    color: black;
  }
  .para2 {
    font-size: 20px;
    color: black;
  }
  .whitebox {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .button:hover {
    background-color: #ff6584;
    color: white;
  }
  .nav img {
    width: 30px;
    height: auto;
    margin-left: 5px;
  }
}
